<style>

    .book-chapter-content-footer {
        padding: 50px 0px;
    }
    .book-chapter-content-footer a{
        color: #000;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }
</style>
<div class="book-chapter-content-footer">
    <a href="/book/chapter?bookId=${(book.id)?c}&chapter=${bookRead.lastReadingChapterNum - 1}" target="_self" data-prefetch="ture" class="col-xs-4 loading">上一章</a>
    <a href="/book/chapter?bookId=${(book.id)?c}&chapter=${bookRead.lastReadingChapterNum + 1}" target="_self" data-prefetch="ture" class="col-xs-4 pull-right loading btn-book-content-next-chapter">下一章</a>
</div>