<style>
    .book-content-main {
        background-color: ${(bookReadSetting.bgColor)!'#817f79'};
        padding: 10px;
    }
    .book-chapter-content-title{
        font-size: 16px;
        padding-left: 16px;
    }
    .book-chapter-content{
        font-size: ${(bookReadSetting.fontSize)!23}px;
        padding: 4px 14px;
        line-height: ${(bookReadSetting.lineHeight)!28}px;
    }
    .book-chapter-content-error {
        line-height: 400px;
        color: #DDDDDD;
        font-size: 20px;
    }
</style>

<#if model??>
<div class="book-content-main">
    <div class="book-chapter-content-title">${(model.title)!}</div>

    <div class="book-chapter-content">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;${(model.content)!}
    </div>
    <#include "/layout/chapter/book_content_footer.html" />

</div>
    <#else>
    <div class="text-center book-chapter-content-error">
        <p>没有内容,点击右上角齿轮换源试试</p>
    </div>
    <#include "/layout/chapter/book_content_footer.html" />
</#if>
