<style>
    .book-shelf-setup-page {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        background-color: #FFFFFF;
    }
    .book-shelf-setup-page-main {
        margin-top: 44px;
    }
    .btn-logout {
        width: 100%;
        height: 40px;
    }
    .book-shelf-setup-page {
        padding: 30px 20px;
    }
</style>

<div class="hide book-shelf-setup-page">
<#include "/layout/book/book_common_header.html"/>
    <div class="book-shelf-setup-page-main">
        <strong class="text-center col-xs-12">${(userBean.nickname)!}</strong>
        <br>
        <br>
        <div class="list-group">
            <a href="javascript:;" onclick="scleanCache()" class="list-group-item list-group-item-action list-group-item-success">
                清理缓存
            </a>
        </div>
        <div class="navbar-fixed-bottom text-center">
            <button type="button" class="btn btn-danger btn-logout" onclick="slogout('/book/loginPage',this)">退出登录</button>
        </div>
    </div>
</div>