<style>
    .book-index-menu {
        position: fixed;
        bottom: 30px;
        width:100%;
    }
    .btn-book-index-menu-add {
        width: 36px;
        height: 36px;
        background: #f9943b;
        -moz-border-radius: 18px;
        -webkit-border-radius: 18px;
        border-radius: 18px;
        text-align: center;
        line-height: 30px;
        margin: auto;
        color: #DDDDDD;
        font-size: 36px;
    }
</style>
<div class="book-index-menu">
    <div class="btn-book-index-menu-add loading">+</div>
</div>

<script>
    $(function () {
        $('.btn-book-index-menu-add').on('click', function (e) {
            location.href = "/book/searchPage";
        });
    });
</script>