<style>
    .book-common-header {
        height: 44px;
        line-height: 44px;
        background-color: black;
        z-index: 99;
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        color: #DDDDDD;
        font-size: 20px;

    }
    .book-common-header  .btn-back{
        height: 44px;
        line-height: 44px;
        color: #DDDDDD;
    }
    .book-common-header span{
        text-decoration: none;
        color: #DDDDDD;
    }
</style>

<div class="book-common-header">
    <span class="col-xs-3 fa fa-chevron-left btn-back"></span>
    <#if (book.aId)??>
        <span data-aid="${(book.aId)!}" class="btn-go-source col-xs-3 pull-right text-right loading">
            <i class="fa fa-cog"></i>
        </span>
    </#if>
</div>
<script src="/public_static/js/book/book_common.js" type="text/javascript"></script>
